<div id="spinnerDiv">
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  Yükleniyor
</div>
<div id="spinnerBgDiv"></div>
<app-navbar></app-navbar>

<img width="100%" src="{{getImageUrl()}}/images/main-home-page.png" alt="">

<!-- <div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <img width="80%" src="{{getImageUrl()}}/images/lg-home-page.jpg" alt="">
    <img width="80%" src="{{getImageUrl()}}/images/lg-home-page.jpg" alt="">
    <img width="80%" src="{{getImageUrl()}}/images/lg-home-page.jpg" alt="">
  </div>
</div> -->

<div class="container mt-3">
  <div class="row">
    <!-- Left Panel -->
    <div class="col-md-2">
      <!-- Filter Options -->
      <div class="row">
        <div class="col-12">
          <h6 class="display-6"><i class="fas fa-filter"></i> Filtrele</h6>
        </div>
        <div class="col-12">
          <input [(ngModel)]="searchString" placeholder="Ürün Ara" type="text" class="form-control mb-1">
        </div>
        <div class="col-12">
          <a (click)="getProducts()" class="filterOptionsButton"><i class="fas fa-redo"></i> Sıfırla</a>
        </div>
        <div class="col-12">
          <a (click)="increasedPrice()" class="filterOptionsButton"><i class="fas fa-chevron-up"></i> Artan Fiyat</a>
        </div>
        <div class="col-12">
          <a (click)="decreasingPrice()" class="filterOptionsButton"><i class="fas fa-chevron-down"></i> Azalan
            Fiyat</a>
        </div>
      </div>
      <!-- Filter Options End -->
      <!-- Categories -->
      <app-category></app-category>
      <!-- Categories End -->
    </div>
    <!-- Left Panel End -->

    <!-- Right Panel -->
    <div class="col-md-10">
      <div class="row">
        <div class="alert alert-info" align="center" *ngIf="products.length==0">
          Bu Kategoride Henüz Ürünümüz Yok.
        </div>
        <!-- Product Cards Start -->
        <div class="card m-1" style="width: 18rem;" *ngFor="let product of products | productSearch:searchString">
          <div *ngIf="product.stock==0" class="stock0"><span class="display-6 stock0Text">Tükendi</span></div>
          <!-- Discount -->
          <span id="discount" *ngIf="product.isDiscount"
            class="badge rounded-pill bg-danger me-0">-%{{product.discount}}</span>
          <span *ngIf="product.stock==1" class="badge rounded-pill bg-warning me-0 stock1">Stokta 1 Adet</span>
          <!-- <img src="{{getImageUrl()}}{{product.imageUrl}}" class="card-img-top" [alt]="product.imageUrl"> -->
          <!-- Carousel Start -->
          <div [id]="getCarouselId(product)" class="carousel slide">
            <div class="carousel-inner">
              <div *ngFor="let photo of product.photos" [class]="photocheck(photo,product)" id="photo{{photo.id}}">
                <img width="100%" src="{{getImageUrl()}}{{photo.imageUrl}}" class="d-block w-100"
                  alt="{{product.productName}}">
              </div>
            </div>
            <button *ngIf="product.photos.length!=1" class="carousel-control-prev" type="button"
              id="productPrevBtn{{product.id}}">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Geri</span>
            </button>
            <button *ngIf="product.photos.length!=1" class="carousel-control-next" type="button"
              id="productNextBtn{{product.id}}">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">İleri</span>
            </button>

          </div>
          <!-- Carousel End -->
          <!-- Body -->
          <div class="card-body">
            <h5 class="card-title">{{product.productName}}</h5>
            <p class="card-text">Ürün Kodu: <span *ngIf="product.productCode">{{product.productCode}}</span><span
                class="text-muted" *ngIf="!product.productCode">Belirtilmedi</span></p>
            <p class="card-text">{{product.screenType}} {{product.screenInch}}</p>
            <p class="card-text">{{product.extras}}</p>
          </div>
          <!-- Body End -->
          <!-- Footer -->
          <div class="card-footer">
            <p class="card-text"><span class="text-muted"><del
                  *ngIf="product.isDiscount">{{product.unitPrice | currency:'TRY'}}</del></span>
              {{product.unitPrice | discount:product.discount:product.isDiscount | currency:'TRY'}} </p>
            <button [disabled]="!product.stock" (click)="goCheckout(product)" class="btn btn-primary">Hemen Satın Al</button>
          </div>
          <!-- Footer End -->
        </div>
        <!-- Product Cards End -->
        <!-- <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link">Önceki Sayfa</a>
            </li>

            <li *ngFor="let page of totalPage" class="page-item" [class]="{'active':page+1==currentPage}" aria-current="page" (click)="getProductsByPage(page+1)">
              <a class="page-link">{{page+1}}</a>
            </li>

            <li class="page-item">
              <a class="page-link">Sonraki Sayfa</a>
            </li>
          </ul>
        </nav> -->

      </div>
    </div>
    <!-- RightPanel End -->
  </div>

</div>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->

<app-footer></app-footer>
