<img width="100%" src="{{getImageUrl()}}/images/main-home-page.png" alt="">

<div class="container mt-3">
  <div class="row">
    <!-- Left Panel -->
    <div class="col-md-2">
      <!-- Filter Options -->
      <div class="row">
        <div class="col-12">
          <h6 class="display-6"><i class="fas fa-filter"></i> Filtrele</h6>
        </div>
        <div class="col-12">
          <input [(ngModel)]="searchString" placeholder="Ürün Ara" type="text" class="form-control mb-1">
        </div>
        <div class="col-12">
          <a (click)="getProducts()" id="productResetBtn" class="filterOptionsButton"><i class="fas fa-redo"></i>
            Sıfırla</a>
        </div>
        <div class="col-12">
          <a (click)="increasedPrice()" id="productIncrease" class="filterOptionsButton"><i
              class="fas fa-chevron-up"></i> Artan Fiyat</a>
        </div>
        <div class="col-12">
          <a (click)="decreasingPrice()" id="productDecrease" class="filterOptionsButton"><i
              class="fas fa-chevron-down"></i> Azalan
            Fiyat</a>
        </div>
      </div>
      <!-- Filter Options End -->
      <!-- Categories -->
      <app-category></app-category>
      <!-- Categories End -->
    </div>
    <!-- Left Panel End -->

    <!-- Right Panel -->
    <div class="col-md-10">
      <div class="row">
        <div class="alert alert-info" align="center" *ngIf="products.length==0">
          Bu Kategoride Henüz Ürünümüz Yok.
        </div>
        <!-- Product Cards Start -->
        <div class="card-group">
          <product-card [product]="product" *ngFor="let product of products | productSearch:searchString">
          </product-card>
        </div>
      </div>
    </div>
    <!-- RightPanel End -->
  </div>
</div>
