<main class="form-resetpassword">
  <form [formGroup]="resetPasswordForm">
    <input formControlName="key" type="hidden" name="">
    <h1 class="h3 mb-3 fw-normal">Şifremi Sıfırla</h1>
    <div class="form-floating mb-3">
      <input formControlName="oldpassword" type="password" class="form-control" id="floatingInput"
        placeholder="">
      <label for="floatingInput">Eski Şifrem</label>
      <div *ngIf="(resetPasswordForm.get('oldpassword').touched || resetPasswordForm.get('oldpassword').dirty) && resetPasswordForm.get('oldpassword').errors">
        <div class="text text-danger" *ngIf="resetPasswordForm.get('oldpassword').errors.required">Eski Şifre zorunlu</div>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input formControlName="newpassword" type="password" class="form-control" id="floatingInput"
        placeholder="">
      <label for="floatingInput">Yeni Şifrem</label>
      <div *ngIf="(resetPasswordForm.get('newpassword').touched || resetPasswordForm.get('newpassword').dirty) && resetPasswordForm.get('newpassword').errors">
        <div class="text text-danger" *ngIf="resetPasswordForm.get('newpassword').errors.required">Yeni Şifre zorunlu</div>
      </div>
    </div>
    <button [disabled]="!isLoad" [disabled]="!(resetPasswordForm.valid)" class="w-100 btn btn-lg btn-primary" (click)="resetpassword()">Sıfırla</button>
    <div *ngIf="!isLoad" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </form>
</main>


