body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

div#charts_main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

div#charts_main div {
  width: 450px;
  height: auto;
  padding: 10px;
  border: 3px solid #F2F3F4;
  margin: 5px;
  background: #F4F6F6;
}

div#charts_main div:nth-child(odd) {

}

div#charts_main div:nth-child(even) {
  padding-left: 15px;
}
