<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2 display-4">Ana Sayfa</h1>
</div>
<div id="charts_main">
  <div style="width: 30%;height: auto;">
    <h4 class="display-6">Marka - Stok</h4>
    <canvas id="categoryProductCountCanv"></canvas>
  </div>
  <div style="width: 100%;height: auto;">
    <h4 class="display-6">Marka - Fiyat Ortalaması</h4>
    <canvas id="categoryProductPriceAvgCanv"></canvas>
  </div>
</div>
