<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-0">
  <div class="container-xl">
    <a class="navbar-brand" href="#">TvProject</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link disabled">Disabled</a> -->
        </li>
      </ul>
      <!-- <form class="d-flex me-3">
        <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
        <button class="btn btn-success" type="submit">Ara</button>
      </form> -->
      <div class="text-end">
        <button *ngIf="!isLogin()" type="button" class="btn btn-outline-light me-2" routerLink="login"><i class="fas fa-user"></i> Giriş Yap</button>
        <!-- <button *ngIf="!isLogin()" type="button" class="btn btn-warning" routerLink="register">Kayıt Ol</button> -->
        <!-- <button *ngIf="isLogin()" type="button" class="btn btn-warning" (click)="logout()">Çıkış Yap</button> -->
        <div class="dropdown" *ngIf="isLogin()">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{userPhoto}}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{currentUser.firstName}} {{currentUser.lastName}}</strong>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser2">
            <li *ngIf="isInRoleAdmin()"><a class="dropdown-item" routerLink="admindashboard">Admin Paneli</a></li>
            <li><a class="dropdown-item" routerLink="myprofile">Profilim</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</nav>
