<app-navbar></app-navbar>
<div class="container">
  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Ürün</span>
        <span class="badge bg-primary rounded-pill">1</span>
      </h4>
      <ul *ngIf="product" class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">{{product.productName}}</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">{{product.unitPrice | currency:'TRY'}}</span>
        </li>
        <li *ngIf="product.isDiscount" class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">İndirim Tutarı</h6>
            <small></small>
          </div>
          <span class="text-success">-{{product.unitPrice * product.discount/100 | currency:'TRY'}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Toplam (TRY)</span>
          <strong>{{ product.unitPrice | discount:product.discount:product.isDiscount | currency:'TRY'}}</strong>
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <button type="submit" class="btn btn-secondary">Redeem</button>
        </div>
      </form>
    </div>
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Adreslerim</h4>
      <!-- Address -->
      <div class="card mb-3" [class]="getAddressClass(address)" *ngFor="let address of addresses"
        id="address{{address.id}}">
        <div class="card-header">
          <input (change)="activedAddress(address)" type="radio" name="address" id="address{{address.id}}"
            [value]="address.id"> {{address.addressName}}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{address.addressText}}</p>
            <footer class="blockquote-footer"><cite title="Source Title">{{address.cityName}}</cite></footer>
            <p>
              <button class="btn btn-primary" (click)="ShowUpdateAddress(address)"><i class="far fa-edit"></i></button>
              <button class="btn btn-danger" (click)="showdeleteBox(address)"><i class="far fa-trash-alt"></i></button>
            </p>
          </blockquote>
        </div>
      </div>
      <!-- Address End -->
      <hr>
      <h4 class="mb-3">Kredi Kartlarım</h4>
      <!-- Credit Cards Start -->
      <div *ngIf="userCreditCards.length == 0">
        <h5 class="display-4" style="font-size: large;">
          Ekli Kredi Kartının Yok Ekleme için
          <a routerLink="" style="text-decoration: none;">Tıklayınız</a>
        </h5>
      </div>
      <div class="creditCard mb-2" *ngFor="let card of userCreditCards">
        <div class="row">
          <div class="col-6">
            <div class="creditCardFront">
              <div class="creditCardNumber font">{{getCreditCardNumber(card.creditCardNumber)}}</div>
              <div class="creditCardUserName font">{{getFirstName(card.firstName)}} {{getLastName(card.lastName)}}</div>
              <div class="creditCardDate font">{{getDay(card.date)}}/{{getYear(card.date)}}</div>
              <div *ngIf="card.creditCardNumber.startsWith('4')" class="creditCardTypeVisa visaPosition"></div>
              <div *ngIf="card.creditCardNumber.startsWith('5')" class="creditCardTypeMasterCard masterCardPosition">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="creditCardBackGround font black">
              <div class="creditCardCvv">{{getCvv(card.cvv)}}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Creidt Cards End -->
      <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
    </div>
  </div>

</div>
