.container{
  margin-top: 4%;
}


.addressState{
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: red;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.addressActive{
  background-color: rgb(33, 228, 108);
  color: white;
}
.addressDeActive{
  background-color: rgb(156, 156, 202);
}
.cardActive{
  background-color: rgb(33, 228, 108);
  border-radius: 10px;
}
.cardDeActive{
  background-color: rgb(156, 156, 202);
  border-radius: 10px;
}



.creditCard {
  /* width: 626px; */
  width: 313px;
  height: 184px;
  position: relative;
}

.font {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  word-spacing: 1.4px;
  color: #fefefe;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: normal;
  text-transform: uppercase;
}

.black {
  color: black;
}

.creditCardFront {
  width: 313px;
  height: 184px;
  background-image: url("../../../../assets/creditCard.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 5px;
}

.creditCardBackGround {
  width: 313px;
  height: 184px;
  background-image: url("../../../../assets/creditCardBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.creditCardCvv {
  position: absolute;
  margin-top: 27%;
  margin-left: 55%;
}

.creditCardNumber {
  position: absolute;
  margin-top: 23%;
  margin-left: 8%;
}

.creditCardUserName {
  position: absolute;
  bottom: 21%;
  margin-left: 8%;
}

.creditCardDate {
  position: absolute;
  bottom: 7%;
  margin-left: 8%;
}

.creditCardTypeVisa {
  background-image: url("../../../../assets/visa.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.creditCardTypeMasterCard {
  background-image: url("../../../../assets/mastercard.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.visaPosition {
  width: 105px;
  height: 37px;
  position: absolute;
  bottom: 12%;
  right: 0;
}

.masterCardPosition {
  width: 115px;
  height: 45px;
  position: absolute;
  bottom: 10%;
  right: 0;
}

.deleteBtn {
  position: absolute;
  right: -8%;
  top: 0;
  z-index: 100;
}

.checkVisa {
  width: 70px;
  height: 30px;
  position: absolute;
  bottom: 9%;
  left: 0;
}

.checkMasterCard {
  width: 85px;
  height: 40px;
  position: absolute;
  left: 0;
  bottom: 5%;
}
