<main class="form-forgotpassword">
  <form [formGroup]="forgotPasswordForm">
    <h1 class="h3 mb-3 fw-normal">Şifremi Unuttum</h1>
    <div class="form-floating mb-3">
      <input formControlName="email" type="email" class="form-control" id="floatingInput"
        placeholder="name@example.com">
      <label for="floatingInput">Eposta Adresi</label>
      <div *ngIf="(forgotPasswordForm.get('email').touched || forgotPasswordForm.get('email').dirty) && forgotPasswordForm.get('email').errors">
        <div class="text text-danger" *ngIf="forgotPasswordForm.get('email').errors.required">Eposta alanı zorunlu</div>
        <div class="text text-danger" *ngIf="forgotPasswordForm.get('email').errors.email">Geçersiz eposta</div>
      </div>
    </div>
    <button [disabled]="!(forgotPasswordForm.valid)" class="w-100 btn btn-lg btn-primary" (click)="send()">Gönder</button>
    <div *ngIf="!isSend" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </form>
</main>
