<main class="form-forgotpassword">
  <form [formGroup]="forgotPasswordForm">
    <img class="mb-4" src="../../../../assets/tv_icon.png" alt="" width="72" height="72">
    <h5 class="h3 mb-3 display-6">Şifremi Unuttum</h5>
    <div class="form-floating mb-3">
      <input formControlName="email" type="email" class="form-control" id="floatingInput"
        placeholder="name@example.com">
      <label for="floatingInput">Eposta Adresi</label>
      <div *ngIf="(forgotPasswordForm.get('email').touched || forgotPasswordForm.get('email').dirty) && forgotPasswordForm.get('email').errors">
        <div class="text text-danger" *ngIf="forgotPasswordForm.get('email').errors.required">Eposta alanı zorunlu</div>
        <div class="text text-danger" *ngIf="forgotPasswordForm.get('email').errors.email">Geçersiz eposta</div>
      </div>
    </div>
    <button [disabled]="!isSend" [disabled]="!(forgotPasswordForm.valid)" class="w-100 btn btn-lg btn-primary" (click)="send()">
      <span *ngIf="!isSend" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Gönder
    </button>
  </form>
</main>
