<main class="form-signin">
  <form [formGroup]="loginForm">
    <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72"
      height="57">
    <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>
    <div class="form-floating">
      <input formControlName="email" type="email" class="form-control" id="floatingInput"
        placeholder="name@example.com">
      <label for="floatingInput">Eposta Adresi</label>
      <div *ngIf="(email.touched || email.dirty) && email.errors">
        <div class="text text-danger" *ngIf="email.errors.required">Eposta alanı zorunlu</div>
        <div class="text text-danger" *ngIf="email.errors.email">Geçersiz eposta</div>
      </div>
    </div>
    <div class="form-floating">
      <input formControlName="password" type="password" class="form-control" id="floatingPassword"
        placeholder="Password">
      <label for="floatingPassword">Şifre</label>
      <div
        *ngIf="(loginForm.get('password').touched || loginForm.get('password').dirty) && loginForm.get('password').errors">
        <div class="text text-danger" *ngIf="loginForm.get('password').errors.required">Şifre alanı zorunlu</div>
        <div class="text text-danger" *ngIf="loginForm.get('password').errors.minlength">Şifre minimum 5 karakter
          olabilir</div>
      </div>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input formControlName="rememberMe" type="checkbox" value="remember-me"> Beni Hatırla
      </label>
    </div>
    <button [disabled]="!isOk" [disabled]="!(loginForm.valid)" class="w-100 btn btn-lg btn-primary" (click)="login()">
      <span *ngIf="!isOk" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;
      <span *ngIf="isOk">Giriş yap</span>
      <span *ngIf="!isOk">Giriş yapılıyor</span>
    </button>
    <span>Hesabın yok mu?  <a class="linkButton" routerLink="/register">hemen kaydol</a></span>
    <br>
    <span>Şifreni mi unuttun? <a class="linkButton" routerLink="/forgotpassword">şifremi sıfırla</a></span>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–{{getYear()}}</p>
  </form>
</main>
