<app-admin-navbar></app-admin-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-admin-leftnav></app-admin-leftnav>
    </div>
    <main class="col-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 display-4">Resim Yükle</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">

          <button [disabled]="!isOk" (click)="uploadImage()" [disabled]=""
            class="btn btn-primary col-12 mb-3">
            <span *ngIf="!isOk" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <i class="fas fa-file-upload"></i>
            Yükle
          </button>
        </div>
        <div class="col-6">

        </div>
      </div>
    </main>
  </div>
</div>

