#spinnerDiv {
  text-align: center;
  position: fixed;
  width: 6%;
  left: 45%;
  right: 45%;
  opacity: .8;
  z-index: 999;
  top: 20vh;
  color: white;
  display: none;
}

#spinnerBgDiv {
  position: fixed;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: .4;
  z-index: 998;
  display: none;
}


#deleteBox {
  padding: 15px;
  width: 30%;
  height: auto;
  top: 5%;
  position: fixed;
  background-color: white;
  right: 35%;
  left: 35%;
  z-index: 201;
  border-radius: 9px;
  display: none;

  transition: top .6s;
}

#deleteBox>div#top {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
}

#deleteBox>div#top>span:first-child {
  margin-right: auto;
  font-size: 25px;
}

#deleteBox>div#top>span:last-child {
  font-size: 25px;
  padding-right: 10px;
}

#deleteBox>div#middle {
  width: 100%;
  min-height: 60%;
  padding: 10px;
}

#deleteBox>div#bottom {
  width: 100%;
  min-height: 20%;
  display: flex;
  justify-content: end;
}

#deleteBoxBackground {
  z-index: 200;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.7;
  display: none;
}

#verifyCode {
  position: fixed;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  z-index: 100;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10vh;
}
#verifyCode > div:last-child {
  margin-top: 10px;
}

#verifyCodeBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: #000;
  opacity: .6;
}
