<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-user-left-panel></app-user-left-panel>
    </div>
    <main class="col-9 ms-sm-auto col-lg-10 px-md-4 p-3">
      <div class="row">
        <form [formGroup]="addForm">
          <div class="col-4 mb-3">
            <label class="form-label" for="addressName">Adres Adı</label>
            <input class="form-control" formControlName="addressName" type="text" name="addressName" id="addressName">
          </div>
          <div class="col-5 mb-3">
            <label class="form-label" for="addressText">Açık Adres</label>
            <textarea class="form-control" formControlName="addressText" style="max-height: 100px;" type="text"
              name="addressText" id="addressText"></textarea>
          </div>
          <div class="col-4 mb-3">
            <select class="form-control" name="cityId" id="cityId" formControlName="cityId">
              <option value="0">Şehir Seçiniz</option>
              <option *ngFor="let city of cities" [value]="city.id">{{city.cityName}}</option>
            </select>
          </div>
        </form>
        <div class="col-4">
          <button (click)="addAddress()" [disabled]="!addForm.valid" class="btn btn-primary">
            Ekle
          </button>
        </div>
      </div>

      <hr>
      <!-- Card -->
      <div class="card mb-3" *ngFor="let address of addresses">
        <div class="card-header">
          {{address.addressName}}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{address.addressText}}</p>
            <footer class="blockquote-footer"><cite title="Source Title">{{address.cityName}}</cite></footer>
            <p>
              <button class="btn btn-primary" routerLink=""><i class="far fa-edit"></i></button>
              <button class="btn btn-danger" (click)="deleteAddress(address)"><i class="far fa-trash-alt"></i></button>
            </p>
          </blockquote>
        </div>
      </div>
      <!-- Card End -->
    </main>
  </div>
</div>
