<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-user-left-panel></app-user-left-panel>
    </div>
    <main class="col-9 ms-sm-auto col-lg-10 px-md-4 p-3">
      <div class="creditCard">
        <div class="row">
          <div class="col-6">
            <div class="creditCardFront">
              <div class="creditCardNumber font">{{creditCardNumber.substring(0,4)}} **** **** ****</div>
              <div class="creditCardUserName font">{{name.substring(0,1)}}*** {{surname.substring(0,1)}}***</div>
              <div class="creditCardTypeVisa"></div>
              <div class="creditCardTypeMasterCard"></div>
            </div>
          </div>
          <div class="col-6">
            <div class="creditCardBackGround font black">
              <div class="creditCardCvv">{{cvv.substring(0,1)}}**</div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
