<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-user-left-panel></app-user-left-panel>
    </div>
    <main class="col-9 ms-sm-auto col-lg-10 px-md-4 p-3">

      <!-- Add Form -->
      <form [formGroupName]="addForm">
        <div class="row">
          <div class="col-6">
            <label for="creditCardNumber" class="form-label">Kredi Kartı Numarası</label>
            <input type="text" formControlName="creditCardNumber" id="creditCardNumber" class="form-control">
          </div>
          <div class="col-6">

          </div>
          <div class="col-3">
            <label for="cvv" class="form-label">CVV</label>
            <input type="text" formControlName="cvv" id="cvv" class="form-control">
          </div>
          <div class="col-3">
            <label for="date" class="form-label">Tarih</label>
            <input type="text" formControlName="date" id="date" class="form-control" placeholder="01/22">
          </div>
        </div>
      </form>
      <!-- Add Form End -->
      <h3 class="display-5 mt-2">Kredi Kartlarım</h3>
      <hr>
      <div class="creditCard">
        <button class="btn btn-sm btn-outline-danger deleteBtn">Sil</button>
        <div class="row">
          <div class="col-6">
            <div class="creditCardFront">
              <div class="creditCardNumber font">{{creditCardNumber.substring(0,4)}} **** **** ****</div>
              <div class="creditCardUserName font">{{name.substring(0,1)}}*** {{surname.substring(0,1)}}***</div>
              <div *ngIf="creditCardNumber.startsWith('4')" class="creditCardTypeVisa"></div>
              <div *ngIf="creditCardNumber.startsWith('5')" class="creditCardTypeMasterCard"></div>
            </div>
          </div>
          <div class="col-6">
            <div class="creditCardBackGround font black">
              <div class="creditCardCvv">{{cvv.substring(0,1)}}**</div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
