<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2 display-4">Resim Yükle</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <input type="text" placeholder="Ürün Ara" [(ngModel)]="searchString" class="form-control">
    <form [formGroup]="photoUploadForm">
      <div class="form-group mb-3">
        <select formControlName="tvId" id="tvId" class="form-control">
          <option selected value="0">Ürün Seçiniz</option>
          <option *ngFor="let product of products | productSearch:searchString" [value]="product.id">
            {{product.productName}}</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <input name="file" multiple id="file" type="file" class="form-control" placeholder="Resim Seçiniz"
          accept="image/*" (change)="setFile($event.target.files)">
      </div>
      <div class="form-group mb-3">
        <div class="form-check">
          <input class="form-check-input" formControlName="isMain" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Ana Resim mi?
          </label>
        </div>
      </div>
    </form>
    <button [disabled]="!isOk" (click)="uploadImage()" [disabled]="!photoUploadForm.valid"
      class="btn btn-primary col-12 mb-3">
      <span *ngIf="!isOk" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <i *ngIf="isOk" class="fas fa-file-upload"></i>
      Yükle
    </button>
  </div>
  <div class="col-6"></div>
</div>
