#container {
  width: 100%;
  height: auto;
  padding: 15px;
}

#productName {
  font-size: 20px;
}

#productName>span {
  font-style: italic;
}

#productDescription {}

#productPrice>span:last-child {
  display: flex;
  align-items: center;
  font-size: 20px;
}
