<div id="container" *ngIf="product">
  <p *ngIf="product.stock == 0" class="alert alert-warning text-center">Ürün Tükendi</p>
  <div class="row">
    <div class="col-md-4">
      <image-slide [photos]="product.photos" [product]="product"></image-slide>
    </div>
    <div class="col-md-8">
      <p id="productName">
        <b>{{product.productName}}</b>
        &nbsp;<span *ngIf="product.productCode" class="text-muted">({{product.productCode}})</span>
      </p>
      <p id="productDescription">
        {{product.extras}}
      </p>
      <p>Ekran Tipi: <span class="text-success">{{product.screenType}}</span></p>
      <p>Ekran boyutu: <span class="text-success">{{product.screenInch}}</span></p>
      <p id="productPrice">
        <span class="text-muted">
          <del>{{product.unitPrice | currency:"TRY"}}</del>
        </span>
        <br>
        <span class="text-success">{{product.unitPrice |discount:product.discount:product.isDiscount|
          currency:"TRY"}}&nbsp;<span class="badge bg-primary">-{{product.discount}}%</span></span>
      </p>
      <p>
        <button [disabled]="product.stock==0" (click)="goBuyPage()" class="btn btn-primary">
          Satın Al
        </button>
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <h4 class="display-5">Benzer Ürünler</h4>
    <hr>
  </div>
</div>
