<div id="container" *ngIf="product">
  <div class="row">
    <div class="col-md-4">
      <image-slide [photos]="product.photos" [product]="product"></image-slide>
    </div>
    <div class="col-md-8">
      <p id="productName">
        <b>{{product.productName}}</b>
        &nbsp;<span class="text-muted">({{product.productCode}})</span>
      </p>
      <p id="productDescription">
        {{product.extras}}
      </p>
      <p>Ekran Tipi: <span class="text-success">{{product.screenType}}</span></p>
      <p>Ekran boyutu: <span class="text-success">{{product.screenInch}}</span></p>
      <p>
        <span class="text-muted">
          <del>{{product.unitPrice | currency:"TRY"}}</del>
        </span>
        <br>
        <span class="text-success">{{product.unitPrice |discount:product.discount:product.isDiscount|
          currency:"TRY"}}</span>
      </p>
    </div>
  </div>
</div>
