<main class="form-register">
  <form [formGroup]="registerForm">
    <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72"
      height="57">
    <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>
    <!-- FirstName -->
    <div class="form-floating">
      <input formControlName="firstName" type="text" class="form-control" id="ad" placeholder="emir">
      <label for="ad">Ad</label>
      <div *ngIf="(firstName.dirty ||firstName.touched) && firstName.errors">
        <div class="text text-danger" *ngIf="(firstName.errors.required)">Ad gerekli</div>
        <div class="text text-danger" *ngIf="(firstName.errors.maxlength)">Ad en fazla 20 karakter olabilir</div>
      </div>
    </div>
    <!-- FirstName End-->

    <!-- LastName -->
    <div class="form-floating">
      <input formControlName="lastName" type="text" class="form-control" id="soyad" placeholder="gurbuz">
      <label for="soyad">Soyad</label>
      <div *ngIf="(lastName.dirty ||lastName.touched) && lastName.errors">
        <div class="text text-danger" *ngIf="(lastName.errors.maxlength)">Ad en fazla 20 karakter
          olabilir</div>
        <div class="text text-danger" *ngIf="(lastName.errors.required)">Soyad gerekli</div>
      </div>
    </div>
    <!-- LastName End -->

    <!-- Email -->
    <div class="form-floating">
      <input formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com">
      <label for="email">Eposta Adresi</label>
      <div *ngIf="(email.dirty ||email.touched) && email.errors">
        <div class="text text-danger" *ngIf="(email.maxlength)">Eposta en fazla 40 karakter
          olabilir</div>
        <div class="text text-danger" *ngIf="(email.email)">Geçersiz eposta</div>
        <div class="text text-danger" *ngIf="(email.required)">Eposta gerekli</div>
      </div>
    </div>
    <!-- Email End-->
    <!-- Password-->
    <div class="form-floating">
      <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
      <label for="password">Şifre</label>
      <div *ngIf="(password.dirty ||password.touched) && password.errors">
        <div class="text text-danger" *ngIf="(password.errors.maxlength)">Şifre en fazla 30 karakter
          olabilir</div>
        <div class="text text-danger" *ngIf="(password.errors.required)">Şifre gerekli</div>
        <div class="text text-danger" *ngIf="(password.errors.minlength)">Şifre en az 5 karakter
          olabilir</div>
      </div>
    </div>
    <!-- Password End -->
    <!-- RePassword -->
    <div class="form-floating">
      <input formControlName="rePassword" type="password" class="form-control" id="password" placeholder="Repassword">
      <label for="rePassword">Şifre Tekrar</label>
      <div *ngIf="(rePassword.dirty ||rePassword.touched) && rePassword.errors">
        <div class="text text-danger" *ngIf="(rePassword.errors.maxlength)">Şifre tekrarı en fazla
          30 karakter olabilir</div>
        <div class="text text-danger" *ngIf="(rePassword.errors.required)">Şifre tekrarı gerekli
        </div>
        <div class="text text-danger" *ngIf="(rePassword.errors.minlength)">Şifre tekrarı en az 5
          karakter olabilir</div>
      </div>
      <div class="text text-danger" *ngIf="(registerForm.hasError('notSame'))">Şifreler uyuşmuyor</div>
    </div>
    <!-- RePassword End -->
    <!-- Agreement -->
    <div class="checkbox mb-3">
      <label id="sozlesme">
        <input formControlName="agreement" type="checkbox" value="subscribe"> Sözleşmeyi Okudum
      </label>
    </div>
    <!-- Agreement End -->
    <button [disabled]="!isLoad" [disabled]="!registerForm.valid" (click)="register()"
      class="w-100 btn btn-lg btn-primary" type="submit">
      <span *ngIf="!isLoad" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Kayıt Ol
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>

<script src="../../../../../node_modules/jquery/dist/jquery.min.js"></script>
